<!-- Grid column -->
<section class="section team-section">

    <div class="row">
        <!--Panel-->
        <div class="col-md-12">
            <div class="card card-cascade narrower">
                <div class="view gradient-card-header blue">
                                <h5 class="mb-0 font-weight-bold">New Tournament</h5>
                            </div>
                <div class="card-body">
                    <form class="competition">
                        
                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputEmail3MD" class="col-sm-2 col-form-label">Poster</label>
                            <div class="md-form">
                                    <div class="file-field">
                                        <div class="btn btn-primary btn-sm float-left waves-effect waves-light">
                                            <span>Choose file</span>
                                            <input type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate valid" type="text" placeholder="Upload your file">
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <!-- Grid row -->

                       
                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputEmail3MD" class="col-sm-2 col-form-label">Tournament Name</label>
                            <div class="col-sm-10">
                                <div class="md-form mt-0">
                                    <input type="email" class="form-control" id="inputEmail3MD" placeholder="Tournament Name">
                                </div>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Type of Game</label>
                            <div class="form-group row">
                            <!-- Material input -->
                            <div class="col-sm-12">
                                <select class="form-control" style="display:block!important">
                                    <option value="1">e-Sport</option>
                                    <option value="2">Sport</option>
                                </select>
                            </div>
                        </div>

                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Date of Month</label>
                            <div class="col-sm-10">
                                <div class="md-form mt-0">
                                    <input type="email" class="form-control" id="inputPassword3MD" placeholder="Date of Month">
                                </div>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Start Time</label>
                            <div class="col-sm-10">
                                <div class="md-form mt-0">
                                    <input type="email" class="form-control" id="inputPassword3MD" placeholder="Start Time">
                                </div>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Location</label>
                            <div class="col-sm-10">
                                <div class="md-form mt-0">
                                    <input type="email" class="form-control" id="inputPassword3MD" placeholder="Location">
                                </div>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Participants</label>
                            <div class="form-group row">
                            <!-- Material input -->
                            <div class="col-sm-12">
                                <fieldset class="form-check mb-4">
                                    <input class="form-check-input" name="group1" type="radio" id="radio1">
                                    <label class="form-check-label" for="radio1">Individual</label>

                                    <input class="form-check-input" name="group1" type="radio" id="radio2">
                                    <label class="form-check-label" for="radio2">Team</label>
                                </fieldset>
                                
                            </div>
                        </div>

                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Registration Fee</label>
                            <div class="col-sm-10">
                                <div class="md-form mt-0">
                                    <input type="email" class="form-control" id="inputPassword3MD" placeholder="Registration Fee">
                                </div>
                            </div>
                        </div>
                        <!-- Grid row -->
                        
                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Legalitas</label>
                            <div class="md-form">
                                    <div class="file-field">
                                        <div class="btn btn-primary btn-sm float-left waves-effect waves-light">
                                            <span>Choose file</span>
                                            <input type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate valid" type="text" placeholder="Upload your file">
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Type</label>
                            <div class="col-sm-10">
                                <fieldset class="form-check mb-4">
                                    <input class="form-check-input" name="group3" type="radio" id="radio3">
                                    <label class="form-check-label" for="radio3">Single Stage</label>

                                    <input class="form-check-input" name="group3" type="radio" id="radio4">
                                    <label class="form-check-label" for="radio4">Two Stage (Home/away)</label>
                                </fieldset>
                                
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Format</label>
                            <div class="form-group row">
                            <!-- Material input -->
                            <div class="col-sm-12">
                                <select class="form-control" style="display:block!important">
                                    <option value="1">Single Elimination (Knockout)</option>
                                    <option value="2">Double Elimination (Lower/Upper Bracket)</option>
                                </select>
                            </div>
                        </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">URL</label>
                            <div class="col-sm-10">
                                <div class="md-form mt-0">
                                    <input type="email" class="form-control" id="inputPassword3MD" placeholder="Link">
                                </div>
                            </div>
                        </div>
                        <!-- Grid row -->


                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <div class="md-form mt-0">
                                <textarea type="text" id="form10" class="md-textarea form-control" rows="3"></textarea>
                                <label for="form10">Description</label>
                                </div>
                            </div>
                        </div>
                        <!-- Grid row -->

                        
                        <!-- Grid row -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-md pull-right">Create</button>
                            </div>
                        </div>
                        <!-- Grid row -->
                    </form>
                </div>
            </div>
        </div>
        <!--/.Panel-->
    </div>
</section>