<div class="card card-cascade narrower">
    <div class="view gradient-card-header blue" style="text-align: left">
        
        <div class="media">
            <a class="media-left waves-light waves-effect waves-light">
                <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-13.jpg" alt="Generic placeholder image" style="width:63px">
            </a>
            <div class="media-body ml-3">
                <div class="row">
                <div class="col-md-4">
                    <h5 class="media-heading font-weight-bold">Hosted by</h5>
                    <p>Noval</p>
                </div>
                <div class="col-md-8">
                    <p>
                        <i class="fa fa-trophy fa-fw"></i> Single Elemination<br/>
                        <i class="fa fa-gamepad fa-fw"></i> Dota 2<br/>
                        <i class="fa fa-calendar fa-fw"></i> 20 Februari 2018 - 30 juni 2018<br/>
                        <i class="fa fa-clock-o fa-fw"></i>Check-in: Underway Now
                    </p>
                    
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
                        <div class="col-12 my-3">
                            <!-- Nav tabs -->
                            <div class="tabs-wrapper">
                                <ul class="nav classic-tabs tabs-blue nav-justified" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link waves-light active waves-effect waves-light" data-toggle="tab" href="#panel36" role="tab" target="_self">Brackets</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panel37" role="tab" target="_self">History</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panel38" role="tab" target="_self">Participants</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#participants" role="tab" target="_self">Timeline</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#settings" role="tab" target="_self">Settings</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Tab panels -->
                            <div class="tab-content card">
                                <!--Panel 1-->
                                <div class="tab-pane fade in show active" id="panel36" role="tabpanel">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta
                                        doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur.
                                        Tempora, placeat ratione porro voluptate odit minima.</p>
                                </div>
                                <!--/.Panel 1-->
                                <!--Panel 2-->
                                <div class="tab-pane fade" id="panel37" role="tabpanel">
                                    <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">
                                Participants Name
                                <br>
                            </th>
                            <th class="text-center">
                                Match History
                                <br>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="text-nowrap" scope="row">1</th>
                            <td>Horizontal at all times</td>
                            <td colspan="1">Collapsed to start, horizontal above breakpoints</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">2</th>
                            <td>None (auto)</td>
                            <td>540px</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">3</th>
                            <td><code>.col-</code></td>
                            <td><code>.col-sm-</code></td>
                            
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">4</th>
                            <td>Horizontal at all times</td>
                            <td colspan="1">Collapsed to start, horizontal above breakpoints</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">5</th>
                            <td><code>.col-</code></td>
                            <td><code>.col-sm-</code></td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">6</th>
                            <td>Horizontal at all times</td>
                            <td colspan="1">Collapsed to start, horizontal above breakpoints</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">7</th>
                            <td><code>.col-</code></td>
                            <td><code>.col-sm-</code></td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">8</th>
                            <td>None (auto)</td>
                            <td>540px</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">9</th>
                            <td><code>.col-</code></td>
                            <td><code>.col-sm-</code></td>
                            
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">10</th>
                            <td>Horizontal at all times</td>
                            <td colspan="1">Collapsed to start, horizontal above breakpoints</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">11</th>
                            <td><code>.col-</code></td>
                            <td><code>.col-sm-</code></td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">12</th>
                            <td>Horizontal at all times</td>
                            <td colspan="1">Collapsed to start, horizontal above breakpoints</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">13</th>
                            <td><code>.col-</code></td>
                            <td><code>.col-sm-</code></td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">14</th>
                            <td>None (auto)</td>
                            <td>540px</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">15</th>
                            <td><code>.col-</code></td>
                            <td><code>.col-sm-</code></td>
                            
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">16</th>
                            <td>Horizontal at all times</td>
                            <td colspan="1">Collapsed to start, horizontal above breakpoints</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">17</th>
                            <td><code>.col-</code></td>
                            <td><code>.col-sm-</code></td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">18</th>
                            <td>Horizontal at all times</td>
                            <td colspan="1">Collapsed to start, horizontal above breakpoints</td>
                        </tr>
                    </tbody>
                </table>
            </div>
                                </div>
                                <!--/.Panel 2-->
                                <!--Panel 3-->
                                <div class="tab-pane fade" id="panel38" role="tabpanel">
                                    <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">
                                Participants Name
                                <br>
                            </th>
                            <th class="text-center">
                                Match History
                                <br>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="text-nowrap" scope="row">1</th>
                            <td>Horizontal at all times</td>
                            <td colspan="1">Collapsed to start, horizontal above breakpoints</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">2</th>
                            <td>None (auto)</td>
                            <td>540px</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">3</th>
                            <td><code>.col-</code></td>
                            <td><code>.col-sm-</code></td>
                            
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">4</th>
                            <td>Horizontal at all times</td>
                            <td colspan="1">Collapsed to start, horizontal above breakpoints</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">5</th>
                            <td><code>.col-</code></td>
                            <td><code>.col-sm-</code></td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">6</th>
                            <td>Horizontal at all times</td>
                            <td colspan="1">Collapsed to start, horizontal above breakpoints</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">7</th>
                            <td><code>.col-</code></td>
                            <td><code>.col-sm-</code></td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">8</th>
                            <td>None (auto)</td>
                            <td>540px</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">9</th>
                            <td><code>.col-</code></td>
                            <td><code>.col-sm-</code></td>
                            
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">10</th>
                            <td>Horizontal at all times</td>
                            <td colspan="1">Collapsed to start, horizontal above breakpoints</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">11</th>
                            <td><code>.col-</code></td>
                            <td><code>.col-sm-</code></td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">12</th>
                            <td>Horizontal at all times</td>
                            <td colspan="1">Collapsed to start, horizontal above breakpoints</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">13</th>
                            <td><code>.col-</code></td>
                            <td><code>.col-sm-</code></td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">14</th>
                            <td>None (auto)</td>
                            <td>540px</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">15</th>
                            <td><code>.col-</code></td>
                            <td><code>.col-sm-</code></td>
                            
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">16</th>
                            <td>Horizontal at all times</td>
                            <td colspan="1">Collapsed to start, horizontal above breakpoints</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">17</th>
                            <td><code>.col-</code></td>
                            <td><code>.col-sm-</code></td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">18</th>
                            <td>Horizontal at all times</td>
                            <td colspan="1">Collapsed to start, horizontal above breakpoints</td>
                        </tr>
                    </tbody>
                </table>
            </div>
                                </div>
                                <!--/.Panel 3-->
                                <!--Panel 4-->
                                <div class="tab-pane fade" id="panel39" role="tabpanel">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta
                                        doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur.
                                        Tempora, placeat ratione porro voluptate odit minima.</p>
                                </div>
                                <div class="tab-pane fade" id="participants" role="tabpanel">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta
                                        doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur.
                                        Tempora, placeat ratione porro voluptate odit minima.</p>
                                </div>
                                <div class="tab-pane fade" id="settings" role="tabpanel">
                                   <form class="competition">
                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputEmail3MD" class="col-sm-2 col-form-label">Poster</label>
                            <div class="md-form">
                                    <div class="file-field">
                                        <div class="btn btn-primary btn-sm float-left waves-effect waves-light">
                                            <span>Choose file</span>
                                            <input type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate valid" type="text" placeholder="Upload your file">
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <!-- Grid row -->

                       
                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputEmail3MD" class="col-sm-2 col-form-label">Tournament Name</label>
                            <div class="col-sm-10">
                                <div class="md-form mt-0">
                                    <input type="email" class="form-control" id="inputEmail3MD" placeholder="Tournament Name">
                                </div>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Type of Game</label>
                            <div class="form-group row">
                            <!-- Material input -->
                            <div class="col-sm-12">
                                <select class="form-control" style="display:block!important">
                                    <option value="1">e-Sport</option>
                                    <option value="2">Sport</option>
                                </select>
                            </div>
                        </div>

                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Date of Month</label>
                            <div class="col-sm-10">
                                <div class="md-form mt-0">
                                    <input type="email" class="form-control" id="inputPassword3MD" placeholder="Date of Month">
                                </div>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Start Time</label>
                            <div class="col-sm-10">
                                <div class="md-form mt-0">
                                    <input type="email" class="form-control" id="inputPassword3MD" placeholder="Start Time">
                                </div>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Location</label>
                            <div class="col-sm-10">
                                <div class="md-form mt-0">
                                    <input type="email" class="form-control" id="inputPassword3MD" placeholder="Location">
                                </div>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Participants</label>
                            <div class="form-group row">
                            <!-- Material input -->
                            <div class="col-sm-12">
                                <fieldset class="form-check mb-4">
                                    <input class="form-check-input" name="group1" type="radio" id="radio1">
                                    <label class="form-check-label" for="radio1">Individual</label>

                                    <input class="form-check-input" name="group1" type="radio" id="radio2">
                                    <label class="form-check-label" for="radio2">Team</label>
                                </fieldset>
                                
                            </div>
                        </div>

                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Registration Fee</label>
                            <div class="col-sm-10">
                                <div class="md-form mt-0">
                                    <input type="email" class="form-control" id="inputPassword3MD" placeholder="Registration Fee">
                                </div>
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Type</label>
                            <div class="col-sm-10">
                                <fieldset class="form-check mb-4">
                                    <input class="form-check-input" name="group3" type="radio" id="radio3">
                                    <label class="form-check-label" for="radio3">Single Stage</label>

                                    <input class="form-check-input" name="group3" type="radio" id="radio4">
                                    <label class="form-check-label" for="radio4">Two Stage (Home/away)</label>
                                </fieldset>
                                
                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Format</label>
                            <div class="form-group row">
                            <!-- Material input -->
                            <div class="col-sm-12">
                                <select class="form-control" style="display:block!important">
                                    <option value="1">Single Elimination (Knockout)</option>
                                    <option value="2">Double Elimination (Lower/Upper Bracket)</option>
                                </select>
                            </div>
                        </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">URL</label>
                            <div class="col-sm-10">
                                <div class="md-form mt-0">
                                    <input type="email" class="form-control" id="inputPassword3MD" placeholder="Link">
                                </div>
                            </div>
                        </div>
                        <!-- Grid row -->
                                       
                        <!-- Grid row -->
                        <div class="form-group row">
                            <!-- Material input -->
                            <label for="inputPassword3MD" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <div class="md-form mt-0">
                                <textarea type="text" id="form10" class="md-textarea form-control" rows="3"></textarea>
                                <label for="form10">Description</label>
                                </div>
                            </div>
                        </div>
                        <!-- Grid row -->               

                        <!-- Grid row -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-md pull-right">Edit Competition</button>
                            </div>
                        </div>
                        <!-- Grid row -->
                    </form>
                                </div>
                                <!--/.Panel 4-->
                            </div>
                        </div>
 
                    </div>
    </div>
</div>